[package]
name = "resilience"
version = "0.1.0"
authors = ["Dmitry Galinsky <dima.exe@gmail.com>"]
publish = false

[dependencies]
futures = "0.1"
tokio-timer = "0.2.6"
rand = "0.5.5"

[dev-dependencies]
tokio-executor = "0.1"
rayon = "1.0"

