version: 2

default_env: &default_env
  environment:
    CARGO_HOME: "/home/circleci/.cargo"
    CARGO: "cargo --color always"
    CARGO_ARGS: ""

default_steps: &default_steps
  steps:
    - checkout
    - run:
        name: "Print versions"
        command: |
          mkdir -p /home/circleci
          .circleci/cache-key /home/circleci/.cache-key
    - restore_cache:
        key: cache-v4-{{ checksum "/home/circleci/.cache-key" }}-{{ checksum "./Cargo.toml" }}
    - run:
        name: "Lint"
        command: |
          if [ "$CIRCLE_JOB" == "rust_stable" ]; then
            .circleci/cargo-lint
          fi
    - run:
        name: "Fetch dependencies"
        command: ${CARGO} fetch
    - run:
        name: "Build"
        command: ${CARGO} build ${CARGO_ARGS} --tests
    - run:
        name: "Test"
        command: ${CARGO} test ${CARGO_ARGS} -- --nocapture
    - run:
        name: "Bench"
        command: ${CARGO} bench ${CARGO_ARGS}
    - save_cache:
        key: cache-v4-{{ checksum "/home/circleci/.cache-key" }}-{{ checksum "./Cargo.toml" }}
        paths:
          - "/home/circleci/.cargo"
jobs:
  rust_1_49_0:
    <<: *default_env
    <<: *default_steps
    docker:
    - image: "circleci/rust:1.49.0"

  rust_stable:
    <<: *default_env
    <<: *default_steps
    docker:
    - image: "circleci/rust:1.63.0"

  rust_nightly:
    <<: *default_env
    <<: *default_steps
    docker:
    - image: "rustlang/rust:nightly"

workflows:
  version: 2
  commit:
    jobs:
    - rust_1_49_0
    - rust_stable
    - rust_nightly
  nightly:
    jobs:
    - rust_nightly
    triggers:
    - schedule:
        cron: "0 0 * * 0"
        filters: { branches: { only: [master] } }
